@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Josefin+Sans:wght@100&family=Poppins:wght@600&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  background-color: whitesmoke;
  color: #000;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}
body a {
  text-decoration: none;
  color: black;
}
body h1 {
  margin: 0;
  padding: 0;
}
body h4 {
  margin: 0;
  padding: 0;
}
body h6 {
  padding: 0;
  margin: 0;
}
body button {
  padding: 0.5rem 1.3rem;
  background-color: green;
  border: none;
  color: white;
}
body.dark {
  background-color: #000;
  transition: all 0.3s ease-in;
  color: white;
}
body.dark a {
  color: #fff;
  transition: all 0.3s ease;
}
body.dark .portfolio_welcome {
  background-color: #000;
}
body .portfolio_sorl {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
body .portfolio_sorl.hide {
  display: none;
}
body .portfolio_sorl input {
  border-top: none;
  border-radius: 4px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
}
body .portfolio_sorl_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  margin-top: 15%;
  margin-inline: 2%;
}
body .portfolio_sorl_inner .inputs {
  margin-block: 1rem;
}
body .portfolio_sorl_inner_login {
  display: none;
}
body .portfolio_sorl_inner_login.show {
  display: block;
}
body .portfolio_sorl_inner_signup.hide {
  display: none;
}
body .portfolio_welcome {
  z-index: 1;
}
body .portfolio_nav_left {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
body .portfolio_nav_left_logo {
  width: 2rem;
  border-radius: 10rem;
}
body .portfolio_nav_left_logo img {
  width: 100%;
  height: 2rem;
  border-radius: 10rem;
}
body .portfolio nav {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0;
  left: 0;
  top: 0;
  padding-inline: 4rem;
}
body .portfolio nav ul {
  padding-inline: 0rem 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 0.9rem;
}
body .portfolio #portfolio_hero {
  padding: 4rem 1rem 1rem 4rem;
  margin: 0;
  border-radius: 20px;
  background-image: url(/images/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
body .portfolio_hero_top {
  display: flex;
  gap: 30%;
  align-items: center;
  padding-block-start: 4rem;
  padding-block-end: 3rem;
}
body .portfolio_hero_top h6 {
  font-size: 1.5rem;
  font-weight: 100;
}
body .portfolio_hero_top_second h1 {
  font-size: 2.8rem;
  font-weight: 800;
}
body .portfolio_hero_top_third {
  margin-block-end: 0.8rem;
}
body .portfolio_hero_top_right {
  color: green;
}
body .portfolio_hero_top_right h1 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1rem;
}
body .portfolio_hero_top_right .exprience {
  font-size: 18rem;
}
body .portfolio_hero_top_right .loading {
  display: none;
  width: 100%;
  background-color: white;
  padding: 1rem;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  text-align: center;
}
body .portfolio_hero_top_right .loading.half {
  width: 50%;
}
body .portfolio_hero_top_right button {
  display: none;
  position: absolute;
  z-index: 4;
  top: 50px;
}
body .portfolio_hero_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 4rem;
}
body .portfolio_hero_bottom_contacts_means {
  display: flex;
}
body .portfolio_hero_bottom_contacts_means_email, body .portfolio_hero_bottom_contacts_means_phone, body .portfolio_hero_bottom_contacts_means_location {
  padding-inline: 1rem;
  border-right: 1px solid;
}
body .portfolio_hero_bottom_contacts_means_email h1, body .portfolio_hero_bottom_contacts_means_phone h1, body .portfolio_hero_bottom_contacts_means_location h1 {
  font-size: 0.8rem;
}
body .portfolio_hero_bottom_contacts_means_email a, body .portfolio_hero_bottom_contacts_means_phone a, body .portfolio_hero_bottom_contacts_means_location a {
  font-size: 0.7rem;
}
body .portfolio_hero_bottom_contacts_means_email {
  padding-inline-start: 0;
}
body .portfolio_hero_bottom_contacts_means_location {
  border: 0;
}
body .portfolio_hero_bottom_switch {
  position: fixed;
  right: 3rem;
  z-index: 4;
}
body .portfolio_hero_bottom_switch h1 {
  display: none;
  font-size: 12px;
  font-weight: 100;
  background-color: #766f6f;
  position: absolute;
  color: white;
  top: 1rem;
  left: 1.5rem;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  scroll-behavior: smooth;
}
body .portfolio_hero_bottom_switch h1.show {
  display: block;
}
body .portfolio_hero_bottom_switch .switch {
  position: relative;
  width: 30px;
  height: 70px;
  border-radius: 100px;
  background-color: black;
  cursor: pointer;
}
body .portfolio_hero_bottom_switch .switch::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  bottom: 60%;
  right: 2px;
  left: 2px;
  transition: all 0.3s ease-in;
}
body .portfolio_hero_bottom_switch .switch.active::before {
  content: "";
  background-color: #000;
  transition: all 0.3s ease-in;
  top: 60%;
  bottom: 1rem;
}
body .portfolio_hero_bottom_switch .switch.active {
  background-color: white;
}
body .portfolio_welcome {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-inline: 20%;
  padding-block: 4rem;
}
body .portfolio_welcome.hide {
  display: none;
}
body .portfolio_welcome span {
  text-transform: capitalize;
}
body .portfolio_welcome_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .portfolio_welcome_top .fas {
  font-size: 2rem;
}
body .portfolio #portfolio_about {
  padding-block-start: 4rem;
  padding-inline: 4rem;
  margin-inline: 4rem;
}
body .portfolio_about_header {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  margin-block-end: 2.5rem;
}
body .portfolio_about_header .h11 {
  position: absolute;
  top: 87%;
  font-size: 4rem;
  font-weight: 900;
  color: green;
  z-index: -1;
}
body .portfolio_about_header .h2 {
  font-size: 1.8rem;
}
body .portfolio_about_inner {
  padding-inline: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  gap: 2rem;
}
body .portfolio_about_inner_right_header {
  padding-block-end: 0.6rem;
}
body .portfolio_about_inner_right_header h1 {
  font-size: 1.3rem;
  color: green;
}
body .portfolio_about_inner_right_intro h1 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}
body .portfolio_about_inner_right_about-me p {
  font-size: 0.7rem;
  line-height: 1.8rem;
}
body .portfolio_about_inner_right_info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  padding-block-start: 2rem;
  margin-block-start: 1.2rem;
}
body .portfolio_about_inner_right_info h4 {
  font-size: 0.8rem;
}
body .portfolio_about_inner_right_info h6,
body .portfolio_about_inner_right_info a {
  font-size: 0.7rem;
}
body .portfolio_about_inner_right_info_left_name, body .portfolio_about_inner_right_info_left_age {
  display: flex;
  align-items: center;
  padding-block-end: 1.5rem;
  gap: 0.5rem;
}
body .portfolio_about_inner_right_info_right_from, body .portfolio_about_inner_right_info_right_email {
  display: flex;
  align-items: center;
  padding-block-end: 1.5rem;
  gap: 0.5rem;
}
body .portfolio_about_inner_left img {
  width: 100%;
}
body .portfolio #portfolio_services {
  padding-inline: 4rem;
  padding-block-start: 4rem;
  margin-block-start: 1rem;
}
body .portfolio_services_header {
  margin-block-end: 3rem;
}
body .portfolio_services_header .h11 {
  position: absolute;
  bottom: -110.5%;
  z-index: -1;
  font-size: 4rem;
  font-weight: 900;
  color: green;
}
body .portfolio_services_header .h2 {
  font-size: 1.8rem;
}
body .portfolio_services_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
body .portfolio_services_table_webdev {
  padding: 1.5rem;
}
body .portfolio_services_table_webdev .h1 {
  font-size: 1.1rem;
  font-weight: 600;
}
body .portfolio_services_table_webdev .p {
  font-size: 0.6rem;
  line-height: 1.5rem;
}
body .portfolio_services_table_webdev.web_dark {
  transition: all 0.3s ease-in;
  background-color: white;
  color: white;
}
body .portfolio_services_table_webdev.web_dark .h1 {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
body .portfolio_services_table_webdev.web_dark .p {
  font-size: 0.6rem;
  line-height: 1.5rem;
}
body .portfolio_services_table_webdev_title {
  margin-block-start: 1rem;
}
body .portfolio_services_table i {
  color: green;
  font-size: 3rem;
}/*# sourceMappingURL=index.css.map */